[submodule "lightline.vim"]
	path = nix/vim/vim/pack/mhh/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "nerdtree"]
	path = nix/vim/vim/pack/mhh/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim-cmake"]
	path = nix/vim/vim/pack/mhh/opt/vim-cmake
	url = https://github.com/vhdirk/vim-cmake
[submodule "nix/vim/vim/pack/mhh/start/yalr.vim"]
	path = nix/vim/vim/pack/mhh/start/yalr.vim
	url = https://github.com/mhhollomon/yalr.vim.git
[submodule "nix/vim/vim/pack/mhh/start/plantuml"]
	path = nix/vim/vim/pack/mhh/start/plantuml
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "nix/vim/vim/pack/mhh/start/editorconfig-vim"]
	path = nix/vim/vim/pack/mhh/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
