[submodule "lightline.vim"]
	path = nix/vim/vim/pack/mhh/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "nerdtree"]
	path = nix/vim/vim/pack/mhh/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "nix/vim/vim/pack/mhh/start/yalr.vim"]
	path = nix/vim/vim/pack/mhh/start/yalr.vim
	url = https://github.com/mhhollomon/yalr.vim.git
[submodule "nix/vim/vim/pack/mhh/start/polyglot"]
	path = nix/vim/vim/pack/mhh/start/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	branch = master
[submodule "nix/vim/vim/pack/mhh/start/vim-cmake"]
	path = nix/vim/vim/pack/mhh/start/vim-cmake
	url = https://github.com/cdelledonne/vim-cmake.git
