[submodule "lightline.vim"]
	path = lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/mhh/start/lightline.vim"]
	path = nix/vim/vim/pack/mhh/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
